<div class="modal-header">
    <h3 class="modal-title">Select Photos</h3>
</div>
<div class="modal-body row">
  <div class="container col-md-12">
    <div class="row" ng-repeat="photos in photo_group">
      <div class="col-md-4" ng-repeat="photo in photos">
        <p>{{ photo.title }}</p>
        <img ng-src="/media/thumbnails/{{ photo.path }}" class="img-thumbnail"
             alt="{{ photo.title }}">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="{{ photo._id }}" ng-model="selected[photo._id]"
                   ng-checked="photo.selected">
            Select Photo
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
