{% extends 'dashboard.html' %}

{% block page_header %}Users{% endblock %}

{% block content %}
  {% autoescape false %}{{ message }}{% endautoescape %}
  <a href='/create_user' class="btn btn-primary" role="button">Create User</a>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Username</th>
          <th>Staff</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td><a href="/user/{{ user.username }}">{{ user.last_name }}</a></td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.username }}</td>
          <td>{% if user.is_staff %}Yes{% else %}No{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
