{% extends 'dashboard.html' %}

{% block page_header %}{{ header }}{% endblock %}

{% block content %}
  {% autoescape false %}{{ message }}{% endautoescape %}
  <form role="form" action="{{ action_url }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
      {% autoescape false %}{{ form }}{% endautoescape %}
    <div class="form-group">
      <label for="image_upload">Image Upload</label>
      <input type="file" name="image_upload" id="image_upload">
    </div>
    <button class='btn btn-primary' type="submit">{{ header }}</button>
  </form>
  {% if exists %}
  <br>
  <form role="form" action="/photo/{{ slug }}?_method=delete" method="post">
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <button class='btn btn-danger' type="submit">Delete Photo</button>
  </form>
  {% endif %}
{% endblock %}
